version: '3.8'
services:
api:
build: ./api
ports: ['8080:80']
volumes:
- ./api:/var/www/html
environment:
- DB_HOST=db
- DB_NAME=orders_db
- DB_USER=root
- DB_PASS=root
- JWT_SECRET=supersecret
depends_on:
- db


payment-ms:
build: ./payment-ms
ports: ['8081:80']
volumes:
- ./payment-ms:/var/www/html
environment:
- DB_HOST=paymentdb
- DB_NAME=payments_db
- DB_USER=root
- DB_PASS=root
depends_on:
- paymentdb


db:
image: mysql:8
environment:
MYSQL_ROOT_PASSWORD: root
MYSQL_DATABASE: orders_db
ports:
- '3306:3306'


paymentdb:
image: mysql:8
environment:
MYSQL_ROOT_PASSWORD: root
MYSQL_DATABASE: payments_db


frontend:
build: ./frontend
ports: ['3000:3000']
volumes:
- ./frontend:/app
stdin_open: true
tty: true


gateway:
image: nginx:stable
volumes:
- ./gateway/nginx.conf:/etc/nginx/nginx.conf
ports:
- '80:80'